{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Dime si tu quieres
            Que yo te ubique en mi cama
            Deja el drama
            Ven y mama
            Voy a darte duro hasta por la mañana
            Y que comience la acción
            Dame tu ubicación
            Ey, tú sabes que yo le llego y cuando llego
            Este bicho causa emoción
            Le bajo el pozo como Poseidón
            Y le abro las piernas en el balcón
            Pa' hablarte claro, ma, tú le metes cabrón
            Me gusta como con la boca me pone' el condón
            Y te queda mejor, mamá
            Cuando no me pones na'
            Este bicho es tuyo
            Avanza y corre
            Ven y súbete en la torre
            Diles
            Que yo me sé tu' pose' favoritas
            Que te hablo malo y que eso te excita
            Que te hago todo lo que necesitas
            Pa' hacerte venir</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup">
                Signup
            </a>
        </div>
        

    </section>
</main>
{% endblock %}
