{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Daniel Santiago Munioz</p>
	<p>Andres Felipe Ocampo</p>
	<p>Andres Felipe Herrera</p>
	<p>Jorge Andres Rosero Melo</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup">
                Signup
            </a>
        </div>
        

    </section>
</main>
{% endblock %}
